{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% translate 'Interpolación de Lagrange' %} - {% translate 'Métodos Numéricos' %}{% endblock %}
{% block content %}
    {% load static %}

    <div class="container-sm p-5">
        <div class="row pb-0 pt-lg-5 align-items-center rounded-3 mb-5 mb-5">
            <div class="col-lg-12">
                <h2 class="display-4 fw-bold lh-1s">{% translate 'Lagrange' %}</h2>
                <p class="lead py-5">
                    {% translate 'La interpolación de Lagrange es una técnica numérica utilizada para construir un polinomio que interpola un conjunto de puntos. Dados los puntos (x₀, y₀), (x₁, y₁), …, (xₙ, yₙ), se determina un único polinomio P(x) de grado n que satisface P(xᵢ) = yᵢ para cada i. Este método utiliza polinomios base que garantizan que cada término contribuya únicamente en el punto correspondiente, asegurando la unicidad del polinomio interpolador.' %}
                </p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                    <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold"
                            onclick="showCalculator()">{% translate 'Graphing Calculator' %}
                    </button>
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4" onclick="showExplanation()">
                        {% translate 'Explanation' %}
                    </button>
                </div>
            </div>
        </div>

        <div class="py-3"></div>

        <!-- Hidden calculator section -->
        <div id="calculator" style="display: none;" class="mt-5">
            <h3 class="mb-5">{% translate 'Calculadora de Interpolación de Lagrange' %}</h3>
            <form class="mb-5 p-4 bg-light rounded-3 shadow" id="calculatorForm">
                <div class="mb-3">
                    <label for="functionSelect" class="form-label">{% translate 'Select Function' %}:</label>
                    <select class="form-select" id="functionSelect" required>
                        <option value="exp(x)">e^x</option>
                        <option value="exp(-x)">e^(-x)</option>
                        <option value="sin(x)">sin(x)</option>
                        <option value="cos(x)">cos(x)</option>
                        <option value="sinh(x)">sinh(x)</option>
                        <option value="cosh(x)">cosh(x)</option>
                        <option value="ln(1+x)">ln(1+x)</option>
                    </select>
                </div>

                <div class="row">
                    <div class="col-sm-6 mb-3">
                        <label for="intervalA" class="form-label">{% translate 'Interval Start' %}:</label>
                        <input type="number" class="form-control" id="intervalA" step="any" value="-3.1416" required>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <label for="intervalB" class="form-label">{% translate 'Interval End' %}:</label>
                        <input type="number" class="form-control" id="intervalB" step="any" value="6.1416" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 mb-3">
                        <label for="pointNum" class="form-label">{% translate 'Number of Points' %}:</label>
                        <input type="number" class="form-control" id="pointNum" min="2" value="20" required>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <label for="degrees" class="form-label">{% translate 'Degrees of Polynomials' %}:</label>
                        <input type="text" class="form-control" id="degrees" value="3,5,8" required>
                    </div>
                </div>

                <button type="submit" class="btn btn-lg btn-primary mt-2" id="calculateButton">
                    <span class="spinner-border spinner-border-sm me-2" role="status" style="display: none;"
                          id="loadingSpinner"></span>
                    <span id="buttonText">{% translate 'Calculate and Graph' %}</span>
                </button>
            </form>

            <div id="graphs-container" class="mt-5 p-4 bg-light rounded-3 shadow" style="display: none;">
                <div id="graph" class="mb-5 row justify-content-center">
                    <img id="plotImage" src="" alt="Plot" class="img-fluid w-75 rounded-4">
                </div>

                <div class="rounded-5" id="plot-container" style="height: 500px;">
                    <!-- Plotly chart will be rendered here -->
                </div>
            </div>

            <!-- Container for the results table -->
            <div id="resultsTable" class="mt-5" style="display: none;">
                <h4 class="mb-3">{% translate 'Results table' %}</h4>
                <table id="dataTable" class="table table-bordered rounded-5 table-striped">
                    <thead>
                    <tr>
                        <th>x</th>
                        <th>{% translate 'Original Function' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Hidden extensive explanation section -->
        <div id="explanation" class="mt-4 rounded-3 lead">
            <h3 class="pb-3">{% translate "Explicación de la interpolación de Lagrange" %}</h3>
            <p>
                {% translate "La interpolación de Lagrange permite construir un polinomio interpolador P(x) a partir de un conjunto de puntos (x₀, y₀), (x₁, y₁), …, (xₙ, yₙ). Se basa en la construcción de polinomios base Lᵢ(x) que cumplen:" %}
            </p>
            <p>
                \[
                L_i(x) = \prod_{\substack{j=0 \\ j \neq i}}^{n} \frac{x - x_j}{x_i - x_j}
                \]
            </p>
            <p>
                {% translate "De esta forma, el polinomio interpolador se obtiene mediante la suma ponderada de los valores yᵢ:" %}
            </p>
            <p>
                \[
                P(x) = \sum_{i=0}^{n} y_i \cdot L_i(x)
                \]
            </p>
            <p>
                {% translate "Este método garantiza que P(xᵢ) = yᵢ para cada i, asegurando la unicidad del polinomio interpolador." %}
            </p>
            <h4 class="pt-3">{% translate "Algoritmo de Interpolación de Lagrange" %}</h4>
            <p>
                {% translate "1. Entrada: Se reciben los arreglos X = [x₀, x₁, …, xₙ] y Y = [y₀, y₁, …, yₙ] y el valor x a evaluar." %}
            </p>
            <p>
                {% translate "2. Inicialización: Se establece P(x) = 0." %}
            </p>
            <p>
                {% translate "3. Para cada índice i de 0 a n, se calcula el polinomio base Lᵢ(x) mediante:" %}
            </p>
            <p>
                \[
                L_i(x) = \prod_{\substack{j=0 \\ j \neq i}}^{n} \frac{x - x_j}{x_i - x_j}
                \]
            </p>
            <p>
                {% translate "Y se actualiza:" %}
            </p>
            <p>
                \[
                P(x) = P(x) + y_i \cdot L_i(x)
                \]
            </p>
            <p>
                {% translate "4. Salida: Se retorna el valor de P(x), el cual es el polinomio interpolador evaluado en x." %}
            </p>
            <p>
                {% translate "El pseudocódigo del algoritmo es el siguiente:" %}
            </p>
            <pre>
{% verbatim %}
Entrada: Arrays X[0...n] y Y[0...n], valor x a evaluar
P ← 0
Para i desde 0 hasta n hacer:
    L ← 1
    Para j desde 0 hasta n hacer:
        Si j ≠ i entonces:
            L ← L * (x - X[j]) / (X[i] - X[j])
    FinPara
    P ← P + Y[i] * L
FinPara
Retornar P
{% endverbatim %}
            </pre>
            <h4 class="pt-3">{% translate "Ejemplo Detallado" %}</h4>
            <p>
                {% translate "Consideremos tres puntos: (1, 2), (2, 3) y (4, 1). Se desea encontrar el polinomio interpolador P(x) que pase por estos puntos." %}
            </p>
            <p>
                {% translate "Primero, se definen los puntos: x₀ = 1, y₀ = 2; x₁ = 2, y₁ = 3; x₂ = 4, y₂ = 1." %}
            </p>
            <p>
                {% translate "A continuación, se calculan los polinomios base:" %}
            </p>
            <p>
                \[
                L_0(x) = \frac{(x - 2)(x - 4)}{(1 - 2)(1 - 4)} = \frac{(x - 2)(x - 4)}{3}
                \]
            </p>
            <p>
                \[
                L_1(x) = \frac{(x - 1)(x - 4)}{(2 - 1)(2 - 4)} = -\frac{(x - 1)(x - 4)}{2}
                \]
            </p>
            <p>
                \[
                L_2(x) = \frac{(x - 1)(x - 2)}{(4 - 1)(4 - 2)} = \frac{(x - 1)(x - 2)}{6}
                \]
            </p>
            <p>
                {% translate "El polinomio interpolador se construye combinando estos polinomios base ponderados por los valores correspondientes:" %}
            </p>
            <p>
                \[
                P(x) = 2L_0(x) + 3L_1(x) + 1L_2(x)
                \]
            </p>
            <p>
                {% translate "Sustituyendo y simplificando se obtiene:" %}
            </p>
            <p>
                \[
                P(x) = \frac{2(x-2)(x-4)}{3} - \frac{3(x-1)(x-4)}{2} + \frac{(x-1)(x-2)}{6}
                \]
            </p>
            <p>
                {% translate "Desarrollando y simplificando, se llega a la forma final:" %}
            </p>
            <p>
                \[
                P(x) = -\frac{2}{3}x^2 + 3x - \frac{1}{3}
                \]
            </p>
            <p>
                {% translate "Este polinomio es el interpolador que pasa por los puntos dados." %}
            </p>
        </div>


        <script>
            function showCalculator() {
                document.getElementById('explanation').style.display = 'none';
                document.getElementById('calculator').style.display = 'block';
            }

            function showExplanation() {
                document.getElementById('calculator').style.display = 'none';
                document.getElementById('explanation').style.display = 'block';
            }

            document.getElementById("calculatorForm").addEventListener("submit", function (event) {
                event.preventDefault();
                calculateAndGraph();
            });

            function setLoadingState(isLoading) {
                const button = document.getElementById("calculateButton");
                const spinner = document.getElementById("loadingSpinner");
                const buttonText = document.getElementById("buttonText");

                button.disabled = isLoading;
                spinner.style.display = isLoading ? "inline-block" : "none";
                buttonText.textContent = isLoading ? "{% translate 'Calculating...' %}" : "{% translate 'Calculate and Graph' %}";
            }

            function calculateAndGraph() {
                const func = document.getElementById("functionSelect").value;
                const a = document.getElementById("intervalA").value;
                const b = document.getElementById("intervalB").value;
                const ptNum = document.getElementById("pointNum").value;
                const degrees = document.getElementById("degrees").value;

                // show loading state
                setLoadingState(true);

                // Build url with query parameters
                const url = `/calculate-taylor/?func=${func}&a=${a}&b=${b}&pt_num=${ptNum}&degrees=${degrees}`;

                // Fetch the data from the server
                fetch(url)
                    .then((response) => response.json())
                    .then((data) => {

                        if (data.error) {
                            alert("Error: " + data.error);
                            console.log(data.error)
                            return;
                        }

                        if (data.error) {
                            alert(data.error);
                            return;
                        }

                        // Show the graph with the plot image
                        const plotImage = document.getElementById("plotImage");
                        plotImage.src = `data:image/png;base64,${data.image}`;
                        document.getElementById("graphs-container").style.display = "block";
                        document.getElementById("graph").style.display = "flex";

                        // Render Plotly chart
                        const plotData = JSON.parse(data.plot_json);
                        Plotly.newPlot('plot-container', plotData.data, plotData.layout, {
                            responsive: true,
                            displayModeBar: true
                        });

                        // Generate the results table
                        generateTable(data.x_values, data.original_y_values, data.taylor_data, degrees.split(","));
                    })
                    .catch((error) => {
                        console.error("Error:", error);
                    }).finally(() => {
                    setLoadingState(false);
                });
            }

            function generateTable(xValues, originalYValues, taylorData, degrees) {
                const table = document.getElementById("dataTable");
                const thead = table.querySelector("thead");
                const tbody = table.querySelector("tbody");

                // Clear the table
                thead.innerHTML = "";
                tbody.innerHTML = "";

                // Create the header row
                const headerRow = document.createElement("tr");
                headerRow.innerHTML = `
                  <th>i</th>
                  <th>x</th>
                  <th>Original Function</th>
                  ${degrees.map((degree) => `<th>Degree ${degree}</th>`).join("")}
                `;
                thead.appendChild(headerRow);

                // Create the data rows
                xValues.forEach((x, index) => {
                    const row = document.createElement("tr");
                    row.innerHTML = `
                        <td class="fw-bold">${index + 1}</td>
                        <td>${x.toFixed(4)}</td>
                        <td>${originalYValues[index].toFixed(4)}</td>
                        ${degrees.map((degree) => `<td>${taylorData[`Grado ${degree}`][index].toFixed(4)}</td>`).join("")}
                      `;
                    tbody.appendChild(row);
                });

                document.getElementById("resultsTable").style.display = "block";
            }
        </script>

    </div>

{% endblock %}
