{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% translate 'Regula Falsi' %} - {% translate 'Numerical Methods' %}{% endblock %}
{% block content %}
    {% load static %}

    <div class="container-sm p-5">
        <div class="row pb-0 pt-lg-5 align-items-center rounded-3 mb-5 mb-5">
            <div class="col-lg-12">
                <h2 class="display-4 fw-bold lh-1s">{% translate 'Regula Falsi' %}</h2>
                <p class="lead py-5">
                    {% translate 'The False Position Method (Regula Falsi) is an iterative root-finding algorithm that approximates the root of a function by using linear interpolation between two points that bracket the root. It improves upon the Bisection Method by using the slope of the line connecting the points to converge faster. The Modified False Position Method introduces adjustments to reduce the risk of slow convergence, especially when one bound remains fixed for multiple iterations. Both methods are useful for solving nonlinear equations where analytical solutions are difficult to obtain.' %}
                </p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                    <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold"
                            onclick="showCalculator()">{% translate 'Graphing Calculator' %}
                    </button>
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4" onclick="showExplanation()">
                        {% translate 'Explanation' %}
                    </button>
                </div>
            </div>
        </div>

        <div class="py-3"></div>

        <!-- Hidden calculator section -->
        <div id="calculator" style="display: none;" class="mt-5">
            <h3 class="mb-5">{% translate 'Regula Falsi Calculator' %}</h3>
            <form class="mb-5 p-4 bg-light rounded-3 shadow" id="calculatorForm">
                <div class="mb-3">
                    <div class="col-md-12 col-sm-6 mb-3">
                        <label for="equation" class="form-label">{% translate 'Equation' %}:</label>
                        <input type="text" class="form-control" id="equation" value="x^3 + 4*x^2 - 4" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 mb-3">
                        <label for="intervalA" class="form-label">{% translate 'Interval Start' %}:</label>
                        <input type="number" class="form-control" id="intervalA" step="any" value="1" required>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <label for="intervalB" class="form-label">{% translate 'Interval End' %}:</label>
                        <input type="number" class="form-control" id="intervalB" step="any" value="3" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 mb-3">
                        <label for="tolerance" class="form-label">{% translate 'Tolerance' %}:</label>
                        <input type="number" class="form-control" id="tolerance" step="any" value="0.00001" required>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <label for="maxIterations" class="form-label">{% translate 'Max Iterations' %}:</label>
                        <input type="number" class="form-control" id="maxIterations" value="100" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 mb-3">
                        <label for="p0" class="form-label">{% translate 'Initial Point p0' %}:</label>
                        <input type="number" class="form-control" id="p0" step="any" value="1.0" required>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <label for="p1" class="form-label">{% translate 'Initial Point p1' %}:</label>
                        <input type="number" class="form-control" id="p1" step="any" value="2.5" required>
                    </div>
                </div>

                <button type="submit" class="btn btn-lg btn-primary mt-2" id="calculateButton">
                    <span class="spinner-border spinner-border-sm me-2" role="status" style="display: none;"
                          id="loadingSpinner"></span>
                    <span id="buttonText">{% translate 'Calculate and Graph' %}</span>
                </button>
            </form>

            <div id="graphs-container" class="mt-5 p-4 bg-light rounded-3 shadow" style="display: none;">
                <h4 class="mb-3">{% translate 'Regula falsi' %}</h4>
                <div class="rounded-5 mb-5" id="plot-container" style="width: 100%;">
                    <!-- Plotly chart will be rendered here -->
                </div>
                <h4 class="mb-3">{% translate 'Regula falsi Modified' %}</h4>
                <div class="rounded-5" id="plot-container-modified" style="width: 100%;">
                    <!-- Plotly chart will be rendered here -->
                </div>
            </div>

            <div id="results" class="mt-5 p-4 bg-light rounded-3 shadow" style="display: none;">
                <h4 class="mb-3">{% translate 'Results' %}: {% translate 'Regula falsi' %}</h4>
                <div id="messageContainer"></div>
                <table id="resultsTable" class="table table-bordered rounded-5 table-striped mb-5">
                    <thead>
                    <tr>
                        <th>{% translate 'Iteration' %}</th>
                        <th>{% translate 'p0' %}</th>
                        <th>{% translate 'p1' %}</th>
                        <th>{% translate 'p' %}</th>
                        <th>{% translate 'f(p)' %}</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <h4 class="mb-3">{% translate 'Results' %}: {% translate 'Regula falsi Modified' %}</h4>
                <div id="messageContainerModified"></div>
                <table id="resultsTableModified" class="table table-bordered rounded-5 table-striped">
                    <thead>
                    <tr>
                        <th>{% translate 'Iteration' %}</th>
                        <th>{% translate 'p0' %}</th>
                        <th>{% translate 'p1' %}</th>
                        <th>{% translate 'p' %}</th>
                        <th>{% translate 'f(p)' %}</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <!-- Hidden extensive explanation section -->
        <div id="explanation" class="mt-4 rounded-3">
            <h3 class="pb-3">{% translate "Explicación Método Regla Falsa" %}</h3>
            <p class="lead">
                {% translate "Dado un intervalo [a, b] donde f(a)f(b)< 0, la aproximación de la raíz se encuentra con la fórmula: " %}
                \[
                x_r = \frac{a f(b) - b f(a)}{f(b) - f(a)}
                \]
                {% translate "Esta fórmula proviene de la ecuación de la recta que pasa por dos puntos (a, f(a)) y (b, f(b)), resolviendo para x cuando f(x) = 0.<br><br>" %}

                {% translate "<strong>Algoritmo iterativo:</strong><br><br>" %}
                {% translate "<strong>1.</strong> Calcular \( x_r \) usando la fórmula de la regla falsa.<br><br>" %}
                {% translate "<strong>2.</strong> Evaluar \( f(x_r) \), si \( f(x_r) \) = 0 , entonces \( x_r \) es la raíz exacta. Si \( f(x_r) \)\( f(a) \) < 0, entonces la raíz está en [a, \( x_r \)], por lo que se actualiza b = \( x_r \). Si \( f(x_r) \)\( f(b) \) < 0, entonces la raíz está en [\( x_r \), b], por lo que se actualiza a = \( x_r \).<br><br>" %}
                {% translate "<strong>3.</strong> Repetir hasta que |\( f(x_r) \)| sea menor que una tolerancia establecida <strong>ε</strong> o se alcance el número máximo de tolerancias" %}
                {% translate "Este método converge más rápido que el de bisección en funciones sin curvatura extrema cerca de la raíz. Sin embargo, en funciones con concavidad pronunciada, puede volverse lento y requerir modificaciones como <strong>la regla falsa modificada.</strong><br><br>" %}
            </p>

            <h3 class="pb-3">{% translate "Explicación Método Regla Falsa Modificada" %}</h3>
            <p class="lead">
                {% translate "Dado un intervalo [a, b] donde f(a)f(b)< 0, el método genera una nueva aproximación a la raíz de la siguiente manera: " %}
                \[
                c_k = \frac{a f(b) - b f(a)}{f(b) - f(a)}
                \]
                {% translate "donde \( c_k \) es el nuevo punto candidato para la raíz.<br><br>" %}

                {% translate "<strong>Actualización del intervalo:</strong><br><br>" %}
                {% translate "Se evalúa \( f(c_k) \) y se actualiza el intervalo [a, b] dependiendo del signo de <strong>\( f(c_k) \)</strong>. Si \( f(a) \)\( f(c_k) \) < 0, la raíz está en [a, \( c_k \)], por lo que se actualiza b = \( c_k \). Si \( f(b) \)\( f(c_k) \) < 0, la raíz está en [\( c_k \), b], por lo que se actualiza a = \( c_k \)<br><br>" %}
                {% translate "<strong>Modificación del factor de corrección:</strong><br><br>" %}
                {% translate "Para acelerar la convergencia, se introduce un factor de corrección en la actualización de f(a) o f(b).<br><br>" %}
                \[
                f(a) = \frac{f(a)}{2}
                \]
                \[
                f(b) = \frac{f(b)}{2}
                \]
                {% translate "<strong>Criterio de parada:</strong><br><br>" %}
                {% translate "<Repetir hasta que |\( f(c_k) \)| sea menor que una tolerancia establecida <strong>ε</strong> o hasta que la diferencia entre iteraciones consecutivas sea suficientemente pequeña" %}
                \[
                |c_k - c_{k-1}| < ε
                \]
            </p>
        </div>

        <script>

            function showCalculator() {
                document.getElementById('explanation').style.display = 'none';
                document.getElementById('calculator').style.display = 'block';
            }

            function showExplanation() {
                document.getElementById('calculator').style.display = 'none';
                document.getElementById('explanation').style.display = 'block';
            }

            document.getElementById("calculatorForm").addEventListener("submit", function (event) {
                event.preventDefault();
                calculateAndGraph();
            });

            function setLoadingState(isLoading) {
                const button = document.getElementById("calculateButton");
                const spinner = document.getElementById("loadingSpinner");
                const buttonText = document.getElementById("buttonText");

                button.disabled = isLoading;
                spinner.style.display = isLoading ? "inline-block" : "none";
                buttonText.textContent = isLoading ? "{% translate 'Calculating...' %}" : "{% translate 'Calculate and Graph' %}";
            }

            function clearPreviousResults() {
                // Clear tables
                document.getElementById("resultsTable").querySelector("tbody").innerHTML = "";
                document.getElementById("resultsTableModified").querySelector("tbody").innerHTML = "";

                // Clear messages
                document.getElementById("messageContainer").innerHTML = "";
                document.getElementById("messageContainerModified").innerHTML = "";

                // Clear plots
                Plotly.purge('plot-container');
                Plotly.purge('plot-container-modified');

                // Hide results and graphs containers
                document.getElementById("results").style.display = "none";
                document.getElementById("graphs-container").style.display = "none";
            }

            function calculateAndGraph() {
                clearPreviousResults();

                const equation = document.getElementById("equation").value;
                const a = document.getElementById("intervalA").value;
                const b = document.getElementById("intervalB").value;
                const tolerance = document.getElementById("tolerance").value;
                const maxIterations = document.getElementById("maxIterations").value;
                const p0 = document.getElementById("p0").value;
                const p1 = document.getElementById("p1").value;

                setLoadingState(true);

                const url = `/calculate-falsi/?equation=${encodeURIComponent(equation)}&a=${a}&b=${b}&tol=${tolerance}&maxIterations=${maxIterations}&p0=${p0}&p1=${p1}`;

                fetch(url)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error(`HTTP error! status: ${response.status}`);
                        }
                        return response.json();
                    })
                    .then(data => {
                        if (data.error) {
                            throw new Error(data.message);
                        }

                        const plotData = JSON.parse(data.graph_results_regula_falsi);
                        const plotDataModified = JSON.parse(data.graph_results_regula_falsi_modified);

                        // Update the layout to be responsive
                        plotData.layout.autosize = true;
                        plotData.layout.height = undefined;
                        plotData.layout.width = undefined;

                        plotDataModified.layout.autosize = true;
                        plotDataModified.layout.height = undefined;
                        plotDataModified.layout.width = undefined;

                        const config = {
                            responsive: true,
                            displayModeBar: true,
                            scrollZoom: true,
                            showLink: false,
                            displaylogo: false,
                            modeBarButtonsToAdd: ['drawopenpath', 'eraseshape'],
                            modeBarButtonsToRemove: ['lasso2d']
                        };

                        Plotly.newPlot('plot-container', plotData.data, plotData.layout, config);
                        Plotly.newPlot('plot-container-modified', plotDataModified.data, plotDataModified.layout, config);

                        document.getElementById("graphs-container").style.display = "block";
                        document.getElementById("results").style.display = "block";

                        displayResults(data);
                    })
                    .catch(error => {
                        console.error("Error:", error);
                        document.getElementById("messageContainer").innerHTML = `
                            <div class="alert alert-danger">
                                <strong>Error:</strong> ${error.message}
                            </div>`;
                        document.getElementById("results").style.display = "block";
                    })
                    .finally(() => {
                        setLoadingState(false);
                    });
            }

            function displayResults(data) {
                // Display regular Regula Falsi results
                populateResultsTable(
                    "resultsTable",
                    "messageContainer",
                    data.results_regula_falsi.results,
                    "{% translate 'Regula falsi' %}"
                );

                // Display modified Regula Falsi results
                populateResultsTable(
                    "resultsTableModified",
                    "messageContainerModified",
                    data.results_regula_falsi_modified.results,
                    "{% translate 'Regula falsi Modified' %}"
                );
            }

            function populateResultsTable(tableId, messageId, results, title) {
                const table = document.getElementById(tableId);
                const tbody = table.querySelector("tbody");
                tbody.innerHTML = "";

                const messageContainer = document.getElementById(messageId);
                messageContainer.innerHTML = "";

                if (results.converged) {
                    messageContainer.innerHTML = `
                        <div class="alert alert-success">
                            <strong>${title} - {% translate 'Root found' %}:</strong> ${results.root.toFixed(6)}
                        </div>`;
                } else {
                    messageContainer.innerHTML = `
                        <div class="alert alert-warning">
                            ${title} - {% translate 'Method did not converge within the maximum number of iterations' %}.
                        </div>`;
                }

                results.iterations.forEach(iter => {
                    const row = document.createElement("tr");
                    row.innerHTML = `
                        <td>${iter.iteration}</td>
                        <td>${iter.p0.toFixed(6)}</td>
                        <td>${iter.p1.toFixed(6)}</td>
                        <td>${iter.c.toFixed(6)}</td>
                        <td>${iter['f(c)'].toFixed(6)}</td>
                    `;
                    tbody.appendChild(row);
                });
            }

        </script>

    </div>
{% endblock %}